@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?yc004g");
  src: url("icomoon.eot?yc004g#iefix") format("embedded-opentype"),
    url("icomoon.ttf?yc004g") format("truetype"),
    url("icomoon.woff?yc004g") format("woff"),
    url("icomoon.svg?yc004g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Consumer_process:before {
  content: "\e900";
  color: #6282a3;
}
.icon-Dashboard:before {
  content: "\e901";
  color: #6282a3;
}
.icon-Grok_pattern_simulation:before {
  content: "\e902";
  color: #6282a3;
}
.icon-Kafka_Live:before {
  content: "\e903";
  color: #6282a3;
}
.icon-Logstash_Configuration:before {
  content: "\e904";
  color: #6282a3;
}
.icon-Metric_Process:before {
  content: "\e905";
  color: #6282a3;
}
.icon-Referential:before {
  content: "\e906";
  color: #6282a3;
}
